.icon-arrow-sync {
  &:before {
    content: $icon-arrow-sync;
  }
}
.icon-arrow-repeat {
  &:before {
    content: $icon-arrow-repeat;
  }
}
.icon-chevron-light-down {
  &:before {
    content: $icon-chevron-light-down;
  }
}
.icon-chevron-light-right {
  &:before {
    content: $icon-chevron-light-right;
  }
}
.icon-times {
  &:before {
    content: $icon-times;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-export {
  &:before {
    content: $icon-export;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-delete {
  &:before {
    content: $icon-user-delete;
  }
}
.icon-user-add {
  &:before {
    content: $icon-user-add;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-info-large {
  &:before {
    content: $icon-info-large;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-zoom {
  &:before {
    content: $icon-zoom;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-location-outline {
  &:before {
    content: $icon-location-outline;
  }
}
.icon-star-outline {
  &:before {
    content: $icon-star-outline;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-chart-bar-outline {
  &:before {
    content: $icon-chart-bar-outline;
  }
}
.icon-key-outline {
  &:before {
    content: $icon-key-outline;
  }
}
.icon-support {
  &:before {
    content: $icon-support;
  }
}
.icon-download-outline {
  &:before {
    content: $icon-download-outline;
  }
}
.icon-zoom-outline {
  &:before {
    content: $icon-zoom-outline;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-brush {
  &:before {
    content: $icon-brush;
  }
}
.icon-input-checked-outline {
  &:before {
    content: $icon-input-checked-outline;
  }
}
.icon-calender-outline {
  &:before {
    content: $icon-calender-outline;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-puzzle-outline {
  &:before {
    content: $icon-puzzle-outline;
  }
}
.icon-printer {
  &:before {
    content: $icon-printer;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-social-at-circular {
  &:before {
    content: $icon-social-at-circular;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-grade-1 {
  &:before {
    content: $icon-grade-1;
  }
}
.icon-grade-1-filled {
  &:before {
    content: $icon-grade-1-filled;
  }
}
.icon-grade-2 {
  &:before {
    content: $icon-grade-2;
  }
}
.icon-grade-2-filled {
  &:before {
    content: $icon-grade-2-filled;
  }
}
.icon-grade-3 {
  &:before {
    content: $icon-grade-3;
  }
}
.icon-grade-3-filled {
  &:before {
    content: $icon-grade-3-filled;
  }
}
.icon-grade-4 {
  &:before {
    content: $icon-grade-4;
  }
}
.icon-grade-4-filled {
  &:before {
    content: $icon-grade-4-filled;
  }
}
.icon-grade-5 {
  &:before {
    content: $icon-grade-5;
  }
}
.icon-grade-5-filled {
  &:before {
    content: $icon-grade-5-filled;
  }
}
