$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-sync: "\e90e";
$icon-arrow-repeat: "\e90f";
$icon-chevron-light-down: "\e913";
$icon-chevron-light-right: "\e915";
$icon-times: "\e901";
$icon-tick: "\e902";
$icon-chevron-right: "\e903";
$icon-chevron-left: "\e904";
$icon-star: "\e905";
$icon-export: "\e91d";
$icon-delete: "\e92b";
$icon-user: "\e906";
$icon-user-delete: "\e907";
$icon-user-add: "\e908";
$icon-group: "\e909";
$icon-cog: "\e90a";
$icon-upload: "\e90b";
$icon-info-large: "\e90c";
$icon-download: "\e90d";
$icon-zoom: "\e91e";
$icon-code: "\e92c";
$icon-power: "\e92d";
$icon-trash: "\e910";
$icon-location-outline: "\e911";
$icon-star-outline: "\e912";
$icon-time: "\e917";
$icon-chart-bar-outline: "\e918";
$icon-key-outline: "\e919";
$icon-support: "\e91a";
$icon-download-outline: "\e920";
$icon-zoom-outline: "\e91f";
$icon-edit: "\e921";
$icon-brush: "\e922";
$icon-input-checked-outline: "\e923";
$icon-calender-outline: "\e924";
$icon-clipboard: "\e925";
$icon-puzzle-outline: "\e926";
$icon-printer: "\e927";
$icon-ticket: "\e928";
$icon-coffee: "\e929";
$icon-social-at-circular: "\e92a";
$icon-help: "\e91b";
$icon-calendar: "\e900";
$icon-grade-1: "\e9e7";
$icon-grade-1-filled: "\e9e8";
$icon-grade-2: "\e9fd";
$icon-grade-2-filled: "\e9fe";
$icon-grade-3: "\e9f9";
$icon-grade-3-filled: "\e9fa";
$icon-grade-4: "\e9e3";
$icon-grade-4-filled: "\e9e4";
$icon-grade-5: "\e9e9";
$icon-grade-5-filled: "\e9ea";
